.center {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    text-align: center;
    min-width: 100%;
    color: white;
}
img {
    min-width: 100%;   
    z-index: 10; 
}

.horizontalcenter {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

.cardhover {
    transition: box-shadow .3s;
}
.cardhover:hover {
    box-shadow: 0 0 51px rgba(0, 0, 0, 0.2); 
}

.navlink {
    transition: .3s;
}