.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 100%;
}

.homecenter {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -60%);
    text-align: center;
    min-width: 100%;
}

img {
    min-width: 100%;   
    z-index: 10; 
}

.horizontalcenter {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

.cardhover {
    transition: .3s;
}
.cardhover:hover {
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05);
}

.navlink {
    transition: .3s;
}
.navlink:hover {
    transform: scale(1.05);
}

.navlink2 {
    transition: .3s;
    border-radius: 0.3rem;
}
.navlink2:hover {
    background-color: rgba(0, 29, 71, 0.5);
}

.backgroundImage {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px);
    -webkit-filter: blur(1px);
  }
