.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 100%;
}

.homecenter {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -60%);
    text-align: center;
    min-width: 100%;
}

img {
    min-width: 100%;   
    z-index: 10; 
}

.horizontalcenter {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

.cardhover {
    transition: .3s;
}
.cardhover:hover {
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05);
}

.navlink {
    transition: .3s;
}
.navlink:hover {
    transform: scale(1.05);
}

.navlink2 {
    transition: .3s;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    display: flex;
    padding-inline: 0.4rem;
    padding-block: 0.5rem;
    align-items: center;
}

.bottomBorder {
  border-bottom: 4px solid rgba(34, 34, 34, 0);
}

.bottomBorder:hover{
  border-bottom: 4px solid rgba(34, 34, 34, 0.522);
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);;
}

.backgroundImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

.backgroundImageFull {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }